@model Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary

@foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <strong>Error!</strong> @modelError.ErrorMessage
            </div>
        </div>
    </div>
}