@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Manage_Menu_Active = "m-menu__item--active";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title"></h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">

        <div class="col-lg-6">

            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--bordered-custom rounded-custom">
                <div class="m-portlet__head change-panel-color-header rounded-top-custom">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="la la-key change-panel-color-header-text"></i>
                            </span>
                            <h3 class="m-portlet__head-text m--font-transform-u change-panel-color-header-text">
                                Cambiar Contraseña
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form asp-route-returnUrl="@Url.Page("/Admin/UserEdit", new {userId = Model.UserId})" class="m-form">
                    <input asp-for="@Model.UserId" type="hidden" />

                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            
                            <div class="form-group m-form__group">
                                <partial name="_ValidationSummary" model="@ModelState" />
                            </div>

                            <div class="form-group m-form__group">
                                <label asp-for="Input.NewPassword">Nueva Contraseña</label>
                                <input asp-for="Input.NewPassword" class="form-control m-input" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group m-form__group">
                                <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                                <input asp-for="Input.ConfirmPassword" class="form-control m-input" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn m-btn--pill btn-brand">Actualizar Contraseña</button>
                                    <a class="btn m-btn--pill btn-default" href="/Identity/Admin/UserEdit?userId=@Model.UserId">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--end::Form-->
            </div>

            <!--end::Portlet-->

        </div>

    </div>
</div>

@section Customs_Scripts{
    <partial name="_ValidationScriptsPartial" />
}
